<table>
	<tr>
		<td id="kewltodo">
			<h1><%= link_to 'kewltodo', root_path%></h1>
		</td>
	</tr>
	<tr>
		<td id='current-location'>
			<p><span class='variable'><%= @list ? @list.name : 'all lists' %></span></p>
		</td>
	</tr>
	<tr>
		<td id="create-new"><p>
				<% if @todo || @todos %>
					<%= link_to '+', new_list_todo_path(@list) %>
				<% else %>
					<%= link_to '+', new_list_path %>
				<% end %>
		</p></td>
	</tr>
	<tr>
		<td id="go-back"><p>
					<%= link_to (raw("&#8592")), :back %>
		</p></td>
	</tr>	
	<tr>
		<td id="credits">
			<p>by <%= link_to 'tyler olson', 'http://tgolson.com/', target: '_blank' %>
			<p>project on <%= link_to 'github', 'https://github.com/TGOlson/kewltodo', target: '_blank'  %>
		</td>
	</tr>
</table>
